@model Mtg.Card.Tracker.Models.MagicCard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a New Card to Your Collection </h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <div >
            <img id="cardImage" src="" alt="mtg">
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="cardName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" id="cardImageSave" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" id="price" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" id="color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="MultiverseId" class="control-label"></label>
                <input asp-for="MultiverseId" id="multiverseId" class="form-control" />
                <span asp-validation-for="MultiverseId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add Card" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <br />
        <div class="label-default"> Type in the card name in the card name text box and click here to search</div>
    </div>
    <div class="col-md-2">
        <br />
        <button id="CardButton" onclick="getCard()" type="button" class="btn btn-primary">Get Card Info</button>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function getCard() {
       var cardName = document.getElementById("cardName").value;
        $.ajax({
            url: '/MagicCards/CardLookup',
            data: { 'name' : cardName},
            type: 'GET',
            success: function (html) {
                //alert("Name: " + html.name + "       Color(s): " + html.colors +
                //    "       Mana Cost: " + html.mana_cost + "       Price(in usd): " + html.usd + "      Multiverse Id: " + html.multiverse_ids);
                $("#cardImage").attr("src", html.image_uris.normal);
                $("#cardImageSave").val(html.image_uris.normal);
                $("#price").val(html.usd);
                $("#color").val(html.colors);
                $("#multiverseId").val(html.multiverse_ids);
            },
            error: function (error) {
                $(that).remove();
                DisplayError(error.statusText);
            }
        });
    }

   
       
</script>