@model Mtg.Card.Tracker.Models.MagicCard

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>MagicCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MagicCardId" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardsAmount" class="control-label"></label>
                <input asp-for="CardsAmount" class="form-control" />
                <span asp-validation-for="CardsAmount" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Toughness" class="control-label"></label>
                <input asp-for="Toughness" class="form-control" />
                <span asp-validation-for="Toughness" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ManaCost" class="control-label"></label>
                <input asp-for="ManaCost" class="form-control" />
                <span asp-validation-for="ManaCost" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="MultiverseId" class="control-label"></label>
                <input asp-for="MultiverseId" class="form-control" />
                <span asp-validation-for="MultiverseId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdentityUserId" class="control-label"></label>
                <input asp-for="IdentityUserId" class="form-control" />
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
