@model IEnumerable<Mtg.Card.Tracker.Models.MagicCard>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser.UserName)
            </th>   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.UserName)
            </td>
            <td>              
                @*<a asp-action="Details" asp-route-id="@item.IdentityUser.Id">Users Cards</a> |*@
            </td>
        </tr>
        }
    </tbody>
</table>